*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background-color: #1F2833;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/*-- login--*/
.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: -webkit-linear-gradient(to right, #00dbde, rgba(34, 129, 201, 0.89));
    background: linear-gradient(to right, #2ba58d, #00b7ff);
}

.wrap-login {
    width: 400px;
    background: #eceff1;
    border-radius: 20px;
    overflow: hidden;
    padding: 77px 55px 53px 55px;
    -webkit-box-shadow: 25px 40px 28px 0px rgba(0, 0, 0, 0.38);
}
/*---------------------------------------------*/

/*-- Form username and password --*/

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 40px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
}
/*---------------------------------------------*/

/*-- input --*/
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-effect {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-effect::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 4px; /*ancho de la linea que hace el efecto de barra de progeso en el input al hacer foco*/

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #6afea5;
    background: -webkit-linear-gradient(left, #21d4fd, #21ff3f);
    background: -o-linear-gradient(left, #21d4fd, #21ff3f);
    background: -moz-linear-gradient(left, #21d4fd, #21ff3f);
    background: linear-gradient(left, #21d4fd, #21ff3f);
}

.focus-effect::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-effect::after {
    top: -15px;
}

.input100:focus + .focus-effect::before {
    width: 100%;
}

.has-val.input100 + .focus-effect::after {
    top: -15px;
}

.has-val.input100 + .focus-effect::before {
    width: 100%;
}
---------------------------------------------

    /*-- Button --*/
.container-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 40px 5px;
    overflow: hidden;
    margin: 0 auto;
}

.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #30a89a;
    background: -webkit-linear-gradient(right, #21d4fd, #21ff3f, #21d4fd, #58e37a);
    background: -o-linear-gradient(right, #21d4fd, #21ff3f, #21d4fd, #58e37a);
    background: -moz-linear-gradient(right, #21d4fd, #21ff3f, #21d4fd, #58e37a);
    background: linear-gradient(right, #21d4fd, #21ff3f, #21d4fd, #58e37a);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn {
    font-family: Poppins-Medium;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
}
/*===== Variable Define =====*/
:root {
    --primary-color: #000;
    --secondary-color: #00AA9E;
    --third-color:#f3f3f3;
    --four-color:#848484;
    --text-color:#fff;
}

/*=== Ipad Media ===*/
@media (max-width:992px){
    /*=== Mobile Menu icon ===*/
    .menu-toggle{
        position: relative;
    }
    .menu-toggle span{
        width:2rem;
        height:0.2rem;
        display:block;
        background-color: var(--text-color);
        margin:0.35rem;
        cursor: pointer;
        transition: all 0.3s;
    }
    .menu-toggle.active span:nth-child(1){
        transform:rotate(45deg);
        position:relative;
        top:0.2rem;
    }
    .menu-toggle.active span:nth-child(2){
        display:none;
    }
    .menu-toggle.active span:nth-child(3){
        transform:rotate(-45deg);
        position:relative;
        top:-0.3rem;
    }
    #navbarNav ul{
        text-align: center;
    }
}


.navbar-nav a.nav-link:hover::after,
.navbar-nav a.nav-link.active::after{
    width:40%;
    transition:width .3s;
}
/*=== Ipad pro Media ===*/
@media (max-width:1030px){
    /*=== Header Section ===*/
    .navbar-nav a.nav-link{
        padding:0.8rem 1rem;
    }
}


/*=== Banner Section ===*/
.banner_section{
    min-height: 600px;
    background:var(--primary-color);
}
.banner_content{
    padding:7rem 0;
}
.banner_content h2{
    color:var(--text-color);
    font-size:5rem;
    font-weight:800;
    line-height: 1.2;
    width:80%;
}
.main-btn{
    position: relative;
    display:inline-block;
    width:auto;
    height:auto;
    background-color: transparent;
    border:none;
    cursor: pointer;
    margin-top:3rem;
    overflow: hidden;
}
.main-btn span{
    font-size:1rem;
    font-weight:600;
    letter-spacing: 0.02rem;
    color:var(--text-color);
    text-decoration: none;
    border:2px solid var(--secondary-color);
    width:100%;
    padding:1rem 2rem;
    display:block;
    border-radius: 0.1rem;
    transition:all ease .5s;
    z-index: 2;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.effect{
    width:100%;
    height:100%;
    left:-100%;
    border-radius: 0.1rem;
    background:var(--secondary-color);
    position: absolute;
    transition:all .5s ease;
    z-index: 1;
}
.main-btn:hover .effect{
    left:0;
}
.main-btn:hover span{
    color:var(--text-color);
}
.bg-hero{
    background-image: url('img/hand.png');
    background-position: center right;
    min-height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
.underline{
    max-width: 6%;
    border-bottom:0.10rem solid var(--secondary-color);
    margin-bottom:2.5rem;
}

/*Infobox*/

/*== Infobox ===*/

.infobox{
    padding:1.5rem 1.2rem;
    border-radius: 0.1rem;
    background-color:var(--primary-color);
    -webkit-transition:background 0.7s;
    -ms-transition:background 0.7s;
    -moz-transition:background 0.7s;
    -o-transition:background 0.7s;
    transition:background 0.7s;
}
.infobox:hover,
.infobox.active{
    background-color: var(--secondary-color);
    -webkit-transition:background 0.7s;
    -ms-transition:background 0.7s;
    -moz-transition:background 0.7s;
    -o-transition:background 0.7s;
    transition:background 0.7s;
}
.infobox:hover .infobox-icon,
.infobox.active .infobox-icon{
    color:var(--text-color);
}
.infobox .infobox-icon{
    font-size: 3rem;
    color:var(--secondary-color);
    margin-bottom:1.5rem;
}
.infobox .infobox-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4em;
    margin:0 0 1.3rem;
    color:var(--text-color);
}
.infobox .infobox-content p{
    color:var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
}
/**/
h1,h2,h3,h4,h5 {
    font-weight: 700;
    color: #66FCF1;
}

a {
    color: #66FCF1;
}

.navbar {
    background-color: #0B0C10;
    color: #66FCF1 !important;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.blog-posts {
    background-color: black;
    color: aliceblue;
}

.blog-post {
    background-color: #1f2833;
}

.blog-post p {
    font-size: 0.9rem;
}

.blog-post .col-sm8 {
    border-left: 3px solid #66FCF1;
}

.badge>a {
    margin-left: 0.5rem;
    padding: 0.8rem;
    background-color: #66FCF1;
}

.hero {
    background-color: #1F2833;
}

.hero-post-badges {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hero-post-badges>a {
    display: block;
    background-color: #0B0C10;
    color: #66FCF1;
    font-size: 0.8rem;
}

.hero-post-content {
    position: absolute;
    bottom: 20px;
    color: aqua;
}

.content {
    background-color: #0B0C10;
    color: #C5C6C7;
}

